/*
	*************
    MessForum CSS
    *************
    Written by Muhammad Waseem
    **************************
    Special Thanks:
    - Fontawesome
    - Flaticon 
    - Jquery
    - BootstrapCDN
    - GoogleFonts
    - ShutterStock
*/

* {
	margin: 0;
	padding: 0;
}

body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 100%;
}

.clr {
    clear: both;
}

a {
    text-decoration: none !important;
    transition: all 0.2s ease 0s !important;
}

a:hover {
    text-decoration: none !important;
}

/* Header */

#header {
	width: 100%;
	background: #FFFFFF;
	display: table;
}

.header-inner {
	width: 1100px;
	background: #FFFFFF;
	display: table;
	padding: 20px 0;
	margin: 0 auto;
}

#logo {
	width: 170px;
	height: 120px;
	float: left;
}

.logo {
	width: 100%;
	height: 100%;
	background: url(../images/logo.png) no-repeat;
}

.navigation {
	float: right;
	display: table;
}

.navigation ul {
	margin: 25px 0;
	padding: 0;
	list-style: none;
}

.navigation ul li {
	float: left;
	margin: 0 15px;
	text-align: center;
}

.navigation ul li a {
	font-size: 13px;
	font-weight: 300;
	color: #393a37;
	text-transform: uppercase;
	padding: 5px 30px;
	border: 1px solid #f3f3f3;
	line-height: 80px;
	border-radius: 2em;
}

.navigation ul li a i {
	display: none;
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.home-icon {
	background: url(../images/nav-home-icon.png) no-repeat;
	opacity: 0.6;
}

.residence-icon {
	background: url(../images/nav-residence-icon.png) no-repeat;
	opacity: 0.6;
}

.mess-icon {
	background: url(../images/nav-mess-icon.png) no-repeat;
	opacity: 0.6;
}

.register-icon {
	background: url(../images/nav-register-icon.png) no-repeat;
	opacity: 0.6;
}

.login-icon {
	background: url(../images/nav-login-icon.png) no-repeat;
	opacity: 0.6;
}

.navigation ul li a:hover {
	color: #153581
}

#search {
	width: 100%;
	background: #3961bc;
	display: table;
	border-top: 2px solid #254ba2;
	border-bottom: 1px solid #254ba2;
}

.search-inner {
	width: 1000px;
	display: table;
	padding: 50px 0;
	margin: 0 auto;
	position: relative;
}

.search-inner #searchInput {
	font-family: "Open Sans", sans-serif;
	width: 100%;
	font-size: 14px;
	color: #717171;
	background: #FFF;
	border: 1px solid #254ba2;
	border-radius: 2em;
	padding: 20px 40px 20px 80px;
	box-sizing: border-box;
	line-height: 20px;
	transition: all 0.2s;
}

.search-inner::before {
	content: "";
	position: absolute;
	width: 60px;
	height: 60px;
	background: url(../images/searchInput.png) no-repeat;
	left: 2px;
	top: 51px;
}

#searchInput:focus {
	border: 1px solid #153581;
	color: #153581
}

/* Categories */

#categories {
	width: 100%;
	background: #cadaff;
	display: table;
}

.categories-inner {
	width: 1100px;
	display: table;
	padding: 20px 0;
	margin: 0 auto;
}

.categories-row {
	width: 100%;
	display: table;
	padding: 30px 20px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.categories-row:first-child {
	background: #153581;
	border: 1px solid #0c2766;
}

.categories-row:nth-child(2) {
	background: #153581;
	border: 1px solid #0c2766;
}

.categories-title {
	width: 100%;
	display: table;
	clear: both;
	padding-bottom: 20px;
}

.categories-title h1 {
	font-weight: 700;
	font-size: 18px;
	color: #FFF;
	padding-left: 40px;
	line-height: 30px;
	background: url(../images/categories-title.png) no-repeat center left;
}

.categories-sub {
	width: 100%;
	display: table;
	background: #FFF;
	border: 1px solid #edeff1;
	padding: 20px 10px;
	box-sizing: border-box;
}

.categories-sub-left {
	float: left;
	width: calc(100% - 220px);
	display: table;
}

.categories-sub-left img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	display: block;
	float: left;
}

.categories-sub-text {
	width: calc(100% - 110px);
	margin-left: 10px;
	float: left;
}

.categories-sub-text h3 {
	font-size: 18px;
	color: #143d3d;
	font-weight: 400;
}

.categories-sub-text h3 a {
	color: #143d3d;
}

.categories-sub-text p {
	font-size: 12px;
	color: #393a37;
}

.categories-stats {
	width: 220px;
	float: right;
	display: table;
}

.cat-stats-box {
	width: 50%;
	float: left;
	box-sizing: border-box;
}

.cat-stats-box h2 {
	font-weight: 300;
	font-size: 34px;
	text-align: center;
	line-height: 40px;
	color: #153581;
}

.cat-stats-box p {
	font-size: 10px;
	line-height: 12px;
	color: #393a37;
	font-weight: 300;
	text-align: center;
}


/* Category Page */

#category {
	width: 100%;
	background: #cadaff;
	padding: 50px 0;
	display: table;
}

.category-heading {
	width: 1100px;
	margin: 0 auto;
}

.category-heading h1 {
	font-weight: 300;
	font-size: 38px;
	color: #212e4d;
	line-height: 44px;
}

.category-box {
	width: 1100px;
	display: table;
	background: #FFF;
	border: 1px solid #edeff1;
	padding: 20px 10px;
	box-sizing: border-box;
	margin: 20px auto;
}

.category-boxL {
	float: left;
	width: calc(100% - 220px);
	display: table;
}

.category-boxL img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	display: block;
	float: left;
}

.cat-boxL-text {
	width: calc(100% - 110px);
	margin-left: 10px;
	float: left;
}

.cat-boxL-text h3 {
	font-size: 18px;
	color: #143d3d;
	font-weight: 400;
}

.cat-boxL-text h3 a {
	color: #143d3d;
}

.cat-boxL-text p {
	font-size: 12px;
	color: #393a37;
}

.category-stats {
	width: 220px;
	float: right;
	display: table;
}


/* Threads Page */

#threads {
	width: 100%;
	background: #cadaff;
	padding: 50px 0;
	display: table;
}

.threads-heading {
	width: 1100px;
	margin: 0 auto;
	padding-bottom: 10px;
}

.threads-heading h1 {
	font-weight: 300;
	font-size: 38px;
	color: #212e4d;
	line-height: 44px;
}

.thread-create-bg > .threads-heading h1 {
	font-weight: 300;
	font-size: 28px;
	color: #212e4d;
	line-height: 34px;
}

.threads-heading h1 a{
	color: #212e4d;
}

.threads-open {
	width: 100%;
	text-align: center;
	padding: 30px 0;
	margin: 10px 0;
	border-top: 1px solid #a7bce9;
	border-bottom: 1px solid #a7bce9;
}

.threads-open a {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	color: #153581;
	border: 1px solid #153581;
	border-radius: 2em;
	padding: 10px 40px 10px 40px;
	box-sizing: border-box;
}

.threads-box {
	width: 1100px;
	display: table;
	background: #FFF;
	border: 1px solid #edeff1;
	padding: 20px 10px 10px 10px;
	box-sizing: border-box;
	margin: 20px auto;
	position: relative;
}

.thread-absolute {
	position: absolute;
	top: -10px;
	left: 0px;
}

.thread-status {
	width: 100px;
	color: #FFF;
	font-weight: 700;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	float: left;
	height: 20px;
	line-height: 20px;
}

.thread-Opened {
	background: #153581;
}

.thread-Responded {
	background: #e6262e;
}

.thread-Locked {
	background: #909090;
}

.thread-dated {
	width: 220px;
	background: #6083EC;
	font-weight: 300;
	font-size: 12px;
	float: left;
	height: 20px;
	line-height: 20px;
	color: #FFF;
	text-align: center;
}

.thread-dated span {
	font-weight: 400;
}

.thread-boxL {
	float: left;
	width: calc(100% - 220px);
	display: table;
}

.thread-boxL img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: block;
	float: left;
}

.thread-boxL-text {
	width: calc(100% - 60px);
	margin-left: 10px;
	float: left;
}

.thread-boxL-text h3 {
	font-size: 18px;
	color: #143d3d;
	font-weight: 400;
}

.thread-boxL-text h3 a {
	color: #143d3d;
}

.thread-boxL-text p {
	font-size: 12px;
	color: #393a37;
}

.thread-boxL-text p a {
	color: #161715;
}

.thread-stats {
	width: 220px;
	float: right;
	display: table;
}

.thread-statsBox {
	width: 50%;
	float: left;
	box-sizing: border-box;
}

.thread-statsBox h2 {
	font-weight: 300;
	font-size: 30px;
	text-align: center;
	line-height: 34px;
	color: #153581;
}

.thread-statsBox p {
	font-size: 10px;
	line-height: 12px;
	color: #393a37;
	font-weight: 300;
	text-align: center;
}

.threads-pagination {
	width: 100%;
	padding: 20px 0;
	background: #eaf1ff;
}

.btns {
	display: table;
	margin: 0 auto;
}

.btn-previous {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #153581 url(../images/btn-previous.png) no-repeat;
	float: left;
	margin-right: 20px;
}

.btn-next {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #153581 url(../images/btn-next.png) no-repeat;
	float: left;
}

.btn-prev-ended {
	background: rgba(121, 140, 129,0.1) url(../images/btn-previous.png) no-repeat;
}
.btn-next-ended {
	background: rgba(121, 140, 129,0.1) url(../images/btn-next.png) no-repeat;
}

/* Create Thread */

.thread-create-bg {
	width: 100%;
	background: #cadaff;
	display: table;
	border-top: 2px solid #254ba2;
	border-bottom: 1px solid #254ba2;
	padding: 30px 0;
}

.thread-create {
	width: 1000px;
	margin: 30px auto;
	display: table;
	box-sizing: border-box;
}

.thread-create input[type="text"] {
	font-family: "Open Sans", sans-serif;
	width: 100%;
	font-size: 13px;
	color: #717171;
	background: #FFF;
	border: 1px solid #edeff1;
	border-radius: 2em;
	padding: 10px 30px 10px 30px;
	box-sizing: border-box;
	line-height: 24px;
	transition: all 0.2s;
	margin: 10px 0 30px 0;
}

.thread-create input[type="submit"] {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	color: #FFF;
	background: #153581;
	border: 1px solid #153581;
	border-radius: 2em;
	padding: 11px 30px 11px 30px;
	margin: 20px auto 0 auto;
	display: table;
	box-sizing: border-box;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 300;
}

/* Post */

#post {
	width: 100%;
	background: #cadaff;
	padding: 50px 0;
	display: table;
}

.post-heading {
	width: 1100px;
	margin: 0 auto;
	padding-bottom: 10px;
}

.post-heading h1 {
	font-weight: 300;
	font-size: 30px;
	color: #212e4d;
	line-height: 34px;
}

.post-heading h1 a {
	color: #212e4d;
}

.mainThread {
	width: 1100px;
	padding: 20px 10px;
	box-sizing: border-box;
	margin: 20px auto 20px auto;
	display: table;
	background: #f8fafc;
	border: 1px solid #edeff1;
}

.threadComment {
	width: 1100px;
	padding: 20px 10px;
	box-sizing: border-box;
	margin: 0 auto;
	display: table;
	background: #f8fafc;
	border: 1px solid #edeff1;
}

.ifred {
	background: #ffdfdf;
	border: 1px solid #ffbdbd
}
.ifgreen {
	background: #f2ffd1;
	border: 1px solid #ecffbc
}
.ifblue {
	background: #cbd7ff;
	border: 1px solid #ecffbc
}

.threadProfile {
	width: 180px;
	float: left;
	margin-right: 20px;
	display: table;
}

.avatar-image {
	width: 100%;
	display: table;
}

.avatar-image img {
	width: 120px;
	height: 120px;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
}

.tProfileInfo {
	width: 100%;
	display: table;
	margin: 10px 0;
	clear: both;
}

.tProfileInfo h3 {
	font-size: 18px;
	font-weight: 400;
	color: #393a37;
	text-align: center;
	line-height: 25px;
}

.tProfileInfo p {
	font-size: 14px;
	font-weight: 300;
	color: #393a37;
	text-align: center;
	line-height: 15px;
}

.tProfileInfo ul {
	margin: 10px 0;
	padding: 0;
	list-style: none;
}

.tProfileInfo ul li {
	margin: 5px 0;
	font-size: 12px;
	font-weight: 300;
}

.tProfileInfo ul li span {
	width: 100px;
	float: left;
	display: block;
}

.tProfileInfo ul li span i {
	color: #a2a4a7;
}

.profileBadge {
	display: table;
	min-width: 100px;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	line-height: 25px;
	font-size: 10px;
	margin: 10px auto;
	padding: 0 5px;
}

.threadPost {
	width: calc(100% - 200px);
	float: right;
	border-left: 1px solid #aaaaaa;
	box-sizing: border-box;
	min-height: 250px;
	padding: 20px;
}

/* Thread Buttons */

.threadButtons {
	width: 100%;
	clear: both;
	padding: 0 0 10px 0;
	box-sizing: border-box;
	display: table;
}

.buttonCenter {
	display: table;
	float: right;
}

.thread-btn {
	float: left;
	margin: 0 10px;
	border-radius: 4em;
	color: #FFF;
	font-size: 12px;
	font-weight: 300;
	line-height: 16px;
	padding: 5px 20px;
	text-align: center;
}

.add-thread {
	background: #e6252f;
}
.edit-thread {
	background: #24397d;
}
.lock-thread {
	background: #393937;
}
.delete-thread {
	background: #530000;
}

.threadPost h3 {
	font-size: 24px;
	font-weight: 400;
	color: #5f5f5f;
	line-height: 30px;
	padding-bottom: 10px;
}

.threadPost p {
	font-size: 14px;
	font-weight: 300;
	color: #5f5f5f;
}

.threadComment > .threadPost {
	min-height: 200px;
}

.threadBottom {
	padding-top: 10px;
	border-top: 1px solid #aaaaaa;
	width: calc(100% - 220px);
	clear: both;
	display: table;
	float: right;
}

.threadPosted {
	float: left;
	display: table;
}

.threadPosted p {
	font-size: 12px;
	font-weight: 300;
	color: #393a37;
	text-align: center;
	line-height: 15px;
}

.threadPosted p span {
	padding-right: 10px;
}

.threadPosted p i {
	color: #a2a4a7;
	font-size: 12px;
	padding: 0 5px;
}

.threadReport {
	float: right;
	display: table;
}

.threadReport a {
	font-size: 12px;
	font-weight: 300;
	color: #FFF;
	padding: 5px 20px;
	background: #e47272;
	border-radius: 4px;
}

.threadReport a:hover {
	background: #B33939;
}


/* Login */

#login {
	width: 100%;
	background: #f8fafc;
	display: table;
	border-top: 2px solid #edeff1;
	border-bottom: 1px solid #edeff1;
	min-height: 100vh;
}

.login-inner {
	width: 1000px;
	background: #f8fafc;
	display: table;
	padding: 50px 0;
	margin: 0 auto;
	position: relative;
}

.login-heading {
	width: 1100px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.login-heading h1 {
	font-weight: 300;
	font-size: 38px;
	color: #a2a4a7;
	line-height: 44px;
	text-align: center;
}

.login-row {
	width: 400px;
	margin: 30px auto;
}

.login-msg {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 2em;
	text-align: center;
}

.error-msg {
	background: #f47652;
}
.success-msg {
	background: #153581;
}

.login-msg p {
	font-weight: 300;
	font-size: 13px;
	color: #FFF;
}

.login-inputs {
	width: 100%;
	margin: 20px 0px;
	position: relative;
}

.login-inputs input {
	font-family: "Open Sans", sans-serif;
	width: 100%;
	font-size: 13px;
	color: #717171;
	background: #FFF;
	border: 1px solid #edeff1;
	border-radius: 2em;
	padding: 10px 20px 10px 50px;
	box-sizing: border-box;
	line-height: 24px;
	transition: all 0.2s;
}

.username-input::before {
	content: "";
	position: absolute;
	width: 40px;
	height: 40px;
	background: url(../images/input-username.png) no-repeat;
	left: 4px;
	top: 3px;
}

.password-input::before {
	content: "";
	position: absolute;
	width: 40px;
	height: 40px;
	background: url(../images/input-password.png) no-repeat;
	left: 4px;
	top: 3px;
}

.password-input {
	margin-bottom: 0
}

.login-inputs input:focus {
	border: 1px solid #153581;
	color: #153581
}

.login-forgot {
	width: 100%;
	margin-bottom: 10px;
	text-align: right;
}

.login-forgot a {
	font-size: 13px;
	color: #a2a4a7;
	font-weight: 300;
	line-height: 30px;
}

.login-submit {
	width: 100%;
	margin: 10px 0;
	text-align: center;
	position: relative;
}

.login-submit::before {
    content: "";
    position: absolute;
    left: 120px;
    top: 0;
    width: 44px;
    height: 44px;
    pointer-events: none;
    background: #f8fafc url(../images/loginbox-sub.png) no-repeat -10px;
}

.login-submit input {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #FFF;
    background: #153581;
    border: 1px solid #153581;
    border-radius: 2em;
    padding: 11px 30px 11px 70px;
    box-sizing: border-box;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 300;
}


/* Register */

#register {
	width: 100%;
	background: #f8fafc;
	display: table;
	border-top: 2px solid #edeff1;
	border-bottom: 1px solid #edeff1;
}

.register-inner {
	width: 1000px;
	background: #f8fafc;
	display: table;
	padding: 50px 0;
	margin: 0 auto;
	position: relative;
}

.register-heading {
	width: 1100px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.register-heading h1 {
	font-weight: 300;
	font-size: 38px;
	color: #a2a4a7;
	line-height: 44px;
	text-align: center;
}

.register-container {
	width: 400px;
	margin: 30px auto;
}

.register-msg {
	width: 100%;
	background: #f47652;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 2em;
	text-align: center;
}

.register-msg p {
	font-weight: 300;
	font-size: 13px;
	color: #FFF;
}

.register-category {
	width: 100%;
	display: table;
	clear: both;
	position: relative;
	margin-top: 15px;
}

.register-category::before {
	content: "";
	position: absolute;
	height: 1px;
	width: 100%;
	background: #e0e0e0;
	top: 50%;
	z-index: 0;
}

.register-category h5 {
	display: table;
	margin: 0 auto;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	color: #7F7F7F;
	padding: 5px 20px;
	background: #f8fafc;
	position: relative;
	z-index: 1;
	border-radius: 2em;

}

.register-inputs {
	width: 100%;
	margin: 20px 0px;
	position: relative;
}

.register-inputs input {
	font-family: "Open Sans", sans-serif;
	width: 100%;
	font-size: 13px;
	color: #717171;
	background: #FFF;
	border: 1px solid #edeff1;
	border-radius: 2em;
	padding: 10px 20px 10px 50px;
	box-sizing: border-box;
	line-height: 24px;
	transition: all 0.2s;
}

.reg-icon::before {
	content: "";
	position: absolute;
	width: 40px;
	height: 40px;
	background: url(../images/input-fields.png) no-repeat;
	left: 4px;
	top: 3px;
}

.email-icon::before {
	content: "";
	position: absolute;
	width: 40px;
	height: 40px;
	background: url(../images/input-email.png) no-repeat;
	left: 4px;
	top: 3px;
}

.register-input {
	margin-bottom: 0
}

.register-inputs input:focus {
	border: 1px solid #153581;
	color: #153581
}

.register-upload {
	width: 100%;
	margin: 10px 0;
	text-align: center;
}

.register-upload label {
	width: 100%;
	display: block;
	height: 20px;
	font-weight: 300;
	text-align: left;
	color: #7F7F7F;
}

.register-submit {
	width: 100%;
	margin: 10px 0;
	text-align: center;
	position: relative;
}

.register-submit::before {
    content: "";
    position: absolute;
    left: 120px;
    top: 0;
    width: 44px;
    height: 44px;
    pointer-events: none;
    background: #f8fafc url(../images/loginbox-sub.png) no-repeat -10px;
}

.register-submit input {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #FFF;
    background: #153581;
    border: 1px solid #153581;
    border-radius: 2em;
    padding: 11px 30px 11px 70px;
    box-sizing: border-box;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 300;
}

.register-confirm {
	width: 90%;
}

.register-confirm h3 {
	font-weight: 700;
	font-size: 22px;
	line-height: 30px;
	color: #143d3d;
	padding-bottom: 20px;
}

.register-confirm h3 span {
	color: #153581;
}

.register-confirm p {
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	color: #7F7F7F;
}

.register-confirm p b {
	color: #153581;
}

/* Post Message */

.postmessage {
	width: 1100px;
	display: table;
	margin: 20px auto;
}

.postmessage textarea {
	font-family: "Open Sans", sans-serif;
	width: 100%;
	font-size: 13px;
	color: #717171;
	background: #FFF;
	border: 1px solid #153581;
	padding: 20px 30px 10px 30px;
	box-sizing: border-box;
	line-height: 24px;
	transition: all 0.2s;
	margin: 10px 0;
}

.postmessage input {
	font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #FFF;
    background: #153581;
    border: 1px solid #153581;
    border-radius: 2em;
	padding: 11px 30px 11px 30px;
	margin: 0 auto;
	display: table;
    box-sizing: border-box;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 300;
}


/* Profile */

#profile {
	width: 100%;
	background: #f8fafc;
	display: table;
	border-top: 2px solid #edeff1;
	border-bottom: 1px solid #edeff1;
}

.profile-inner {
	width: 1000px;
	background: #f8fafc;
	display: table;
	padding: 50px 0;
	margin: 0 auto;
	position: relative;
}

.profileLeft {
	width: 400px;
	float: left;
	display: table;
	background: #FFF;
	border: 1px solid #e0e0e0;
}

.profileRight {
	width: 500px;
	float: right;
	display: table;
	background: #FFF;
	border: 1px solid #e0e0e0;
}

.profileThreads {
	width: 90%;
	margin: 20px auto;
	padding-bottom: 20px;
	border-bottom: 1px solid #e0e0e0;
}

.profileLHeading {
	width: 100%;
	display: table;
}

.profileLHeading h1 {
	font-weight: 300;
	font-size: 28px;
	color: #a2a4a7;
	line-height: 34px;
}

.pThreadRow {
	border: 1px solid #e9e9e9;
	position: relative;
	display: table;
	margin: 20px 0 10px 0;
	padding: 10px 8px 5px 8px;
	width: 100%;
	box-sizing: border-box;
}

.pThreadRow h5 {
	width: 150px;
	background: #24397d;
	font-weight: 300;
	font-size: 10px;
	float: left;
	height: 16px;
	line-height: 16px;
	color: #FFF;
	text-align: center;
	position: absolute;
	top: -10px;
	left: 0px;
}

.pThreadRow h3 {
	font-size: 14px;
	font-weight: 400;
	color: #143d3d;
}

.onThread {
	width: 100%;
	display: table;
	border: 1px solid #e0e0e0;
	padding: 5px;
	margin: 5px;
	box-sizing: border-box;
}

.pNoThread {
	width: 100%;
	background: #f1f1f1;
	color: #a2a4a7;
	padding: 10px;
	box-sizing: border-box;
}

.pNoThread p {
	font-size: 13px;
	font-weight: 300;
	text-align: center;
}

.onThread h3 {
	font-weight: 300;
	font-size: 12px;
}

.onThread h3 span {
	padding-right: 5px;
	font-weight: 700;
}

.pThreadRow p {
	font-size: 12px;
	color: #393a37;
}

.profileRHeading {
	width: 90%;
	display: table;
	margin: 20px auto;
}

.profileRHeading h1 {
	font-weight: 300;
	font-size: 28px;
	color: #a2a4a7;
	line-height: 34px;
}

.profilePicture {
	width: 100%;
	display: table;
	clear:both;
	margin: 20px auto;
}

.profilePicture img {
	width: 200px;
	height: 200px;
	display: block;
	margin: 0px auto;
	border-radius: 50%;
}

.profileDetails {
	width: 90%;
	margin: 0 auto;
	display: table;
	padding: 10px 0 20px 20px;
	box-sizing: border-box;
}

.profileDetails h3 {
	font-size: 22px;
	text-align: center;
	color: #a2a4a7;
	line-height: 28px;
}

.profileDetails ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.profileDetails ul li {
	font-weight: 300;
	font-size: 14px;
	margin: 15px 0;
}

.profileDetails ul li a {
	color: #24397d;
}

.profileDetails ul li span {
	font-weight: 400;
	color: #717171;
	display: block;
	float: left;
	width: 150px;
}

/* Profile Bar */

#topbar {
	width: 100%;
	min-width: 1100px;
	background: #f8fafc;
	border-bottom: 1px solid #e0e0e0;
	display: table;
}

.topbar-inner {
	width: 1100px;
	margin: 0px auto;
	padding: 10px 0;
	display: table;
}

.topbar-server {
	font-weight: 300;
	font-size: 12px;
	line-height: 40px;
	padding: 0 10px;
	float: left;
}

.topbar-admin {
	float: right;
	margin-right: 20px;
	display: table;
}

.admin-unconfirmed {
	display: table;
	float: left;
	background: #f1f1f1;
	margin: 0 5px;
	border-radius: 4em;
}

.admin-unconfirmed a {
	display: block;
	font-weight: 300;
	color: #393a37;
	font-size: 11px;
	text-transform: uppercase;
	line-height: 40px;
	padding: 0 20px 0 0;
}

.admin-unconfirmed a span {
	display: block;
	width: 34px;
	height: 34px;
	background: #253b7f;
	float: left;
	text-align: center;
	margin-top: 3px;
	border-radius: 50%;
	color: #FFF;
	font-weight: 700;
	font-size: 12px;
	line-height: 34px;
	margin-right: 5px;
}

.topbar-profile {
	float: right;
	display: table;
	position: relative;
}

.topbar-icon {
	width: 100%;
	display: table;
	cursor: pointer;
}
.topbar-icon img {
	width: 40px;
	height: 40px;
	display: block;
	float: left;
	border-radius: 50%;
}

.topbar-user {
	float: left;
	margin-left: 10px;
	display: table;
}

.topbar-user p {
	font-weight: 400;
	font-size: 14px;
	color: #393a37;
	line-height: 16px;
	margin-top: 5px;
}

.topbar-user h5 {
	padding: 2px 10px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	font-size: 8px;
	line-height: 8px;
	margin-top: 2px;
}

.topbar-icon i {
	float: left;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: rgba(0,0,0,0.1);
	border-radius: 50%;
	margin: 5px;
}

.profile-expand {
	position: absolute;
	width: 160px;
	top: 50px;
	right: 0;
	background: #FFF;
	box-shadow: 0px 3px 4px rgba(0,0,0,0.2);
	border-left: 2px solid #e0e0e0;
	border-right: 2px solid #e0e0e0;
	border-bottom: 4px solid #e0e0e0;
	padding: 20px;
	z-index: 20;
	display: none;
}

.profile-expand-active {
	display: table !important;
}

.profile-expand ul {
	margin: 10px auto 0 auto;
	padding: 0 10px;
	list-style: none;
}

.profile-expand ul li {
	margin: 10px 0;
}

.profile-expand ul li a {
	font-weight: 300;
	font-size: 13px;
	text-transform: uppercase;
	display: block;
	line-height: 15px;
	border-bottom: 1px solid #e0e0e0;
	padding: 5px 0;
	color: #a2a4a7;
}

.profile-expand ul li a:hover {
	color: #153581;
	border-bottom-color: #153581
}

.view-profile {
	width: 100%;
	padding: 10px 0;
	text-align: center;
}

.view-profile a {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	color: #153581;
	border: 1px solid #153581;
	border-radius: 2em;
	padding: 5px 30px 5px 30px;
	box-sizing: border-box;
}


/* Footer */

#webFoot {
	width: 100%;
	background: #f8fafc;
	display: table;
}

.webFoot-inner {
	width: 1100px;
	margin: 0 auto;
	background: #f8fafc;
	display: table;
	padding: 50px 0;
	border-top: 2px solid #edeff1;
	border-bottom: 1px solid #edeff1;
}

.webFoot-stats {
	float: left;
}

.webFoot-stats ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.webFoot-stats ul li {
	font-size: 16px;
	font-weight: 400;
	color: #133d3d;
	width: 50%;
	margin: 10px 0;
	float: left;
}

.webFoot-stats ul li span {
	font-weight: 300;
	font-size: 30px;
	display: block;
	color: #153581
}

.webFoot-login {
	width: 300px;
	display: table;
	float: right;
	border: 1px solid #153581;
	padding: 20px 30px;
}

.webFoot-login h1 {
	font-size: 18px;
	font-weight: 700;
	color: #153581;
	line-height: 22px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #153581;
}

.login-container {
	width: 100%;
	display: table;
}

.loginbox-input {
	width: 100%;
	margin: 10px 0;
	position: relative;
}

.loginbox-input input {
	width: 100%;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	color: #717171;
	background: #FFF;
	border: 1px solid #153581;
	border-radius: 2em;
	padding: 10px 20px 10px 50px;
	box-sizing: border-box;
}

.lb-user::before {
	content: "";
	position: absolute;
	left: 0px;
	top: 0;
	width: 44px;
	height: 38px;
	background: url(../images/loginbox-user.png) no-repeat;
}

.lb-pass::before {
	content: "";
	position: absolute;
	left: 0px;
	top: 0;
	width: 44px;
	height: 38px;
	background: url(../images/loginbox-pass.png) no-repeat;
}

.loginbox-submit {
	width: 100%;
	margin: 10px 0;
	text-align: center;
	position: relative;
}

.loginbox-submit::before {
	content: "";
	position: absolute;
	left: 80px;
	top: 0;
	width: 44px;
	height: 44px;
	pointer-events : none;
	background: #f8fafc url(../images/loginbox-sub.png) no-repeat -10px;
}

.loginbox-submit input {
	width: 120px;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	color: #FFF;
	background: #153581;
	border: 1px solid #153581;
	border-radius: 2em;
	padding: 11px 20px 11px 40px;
	box-sizing: border-box;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 300;
}

.footer-copyright {
	width: 100%;
	background: #e9f0f5;
	padding: 20px 0;
}

.footer-copyright p {
	font-weight: 400;
	font-size: 13px;
	color: #393a37;
	text-align: center;
}